<div id="application">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      {{#link-to 'index' class="navbar-brand"}}Move Hard{{/link-to}}
      <ul class="nav navbar-nav">
        <li>{{#link-to 'moves' }}Moves{{/link-to}}</li>
        <li>{{#link-to 'games' }}Games{{/link-to}}</li>
        <li>{{#link-to 'users' }}Users{{/link-to}}</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {{#with controllers.auth}}
        <li>{{#if hasValidToken}}
          <span class="navbar-text">
            ({{model.username}})
            <a href="#" {{action 'logout'}}>Logout</a>
          </span>
        {{else}}
          {{#link-to 'auth'}}Login{{/link-to}}
        {{/if}}</li>
      {{/with}}
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      {{outlet}}
    </div>
  </div>
</div>
