<h1>All the moves!</h1>

<ul>
  {{#each move in controller}}
    <li>
      {{#link-to 'move' move}}
        {{move.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{#link-to 'moves.new' class="btn btn-primary"}}new{{/link-to}}
