<h1>
  Moves
  {{#with controllers.auth}}
    {{#if hasValidToken}}
      {{#link-to 'moves.new' class="btn btn-primary"}}new{{/link-to}}
    {{/if}}
  {{/with}}
</h1>

<ul>
  {{#each move in controller}}
    <li>
      {{#link-to 'move' move.slug}}
        {{move.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
